* {
  font-family:Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}
/* Header  */

.header {
  display: flex;
  width: 100%;
  height: 100%;
}

.header-container {
  width: 100%;
  margin: 0px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-add {
  color: white;
  padding: 13px 18px;
  margin: 12px;
  border-radius: 12%;
  font-size: 40px;
  background-color: red;
}

.header-title {
  padding-left: 24px;
  font-size: 48px;
}

.header-break {
  border: none;
  height: 3px;
  color: black;
  background-color: black;
}

/* List and List Items  */
 
.todo-list {
  display: flex;
  width: 100%;
}

.todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px 16px;
  background-color: red;
  color: white;
  padding: 0px 24px;
  border-radius: 12px;
}

.todo-container-left {
  display: flex;
  align-items: center;
}

.todo-checkbox {
  margin-right: 24px;
  font-size:  48px;
  display: flex;
}

.todo-text {
  font-size: 24px;
  font-weight: 700; 
}

.todo-delete {
  font-size: 48px;
}

/* Popup */

.popup-container {
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 80%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: white;
  height: 300px;
  opacity: 100%;
  padding: 24px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.popup-button {
  border-style: none;
  margin: 12px;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
}

.popup-title {
  font-size: 42px;
  margin-bottom: 12px;
}

.popup-input {
  height: 20%;
  width: 100%;
}

.add {
  background-color: green;
}

.add:hover {
  opacity: 90%;
  cursor: pointer;
}
.back {
  background-color: red;
}

.back:hover {
  opacity: 80%;
  cursor: pointer;
}